*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Lucida Sans',
     'Lucida Sans Regular', 
     'Lucida Grande', 
     'Lucida Sans Unicode', 
      Verdana, 
      sans-serif;
}

body {
    background-color: lightgray;
}

.jumbotron {
    background-color: rgb(4, 83, 107);
    
    padding: 2rem 0rem;
    border-radius: 0%;
}

.display-3 {
    font-weight: bold;
}

#currentDay {
    padding-top: 10px;
    color: gold;
}

.form-row {
    justify-content: center;
    margin: auto;
    padding-top: 5px;
}



label {
    min-width: 3rem;
    border-top: lightgrey;
    border-bottom: lightgray;
    border-style: groove;
    border-left: none;
    border-right: none;    
    margin: 0px;
    padding: 2rem;    
    text-align: center;
    text-justify: initial;
}

.col-7 {
    background-color:lightgray;
    border-top: lightgrey;
    border-bottom: lightgray;
    border-style: groove;     
    border-radius: 0px 0px 0px 0px;
}

.btn {
    border-radius: 0px 20px 20px 0px;
    
    
}


#textArea:read-only {
    background-color: rgb(236, 0, 0);
}

  .past {
    background-color: black;
    
  };


  #textArea.present {
    background-color: #5cb85c;
  };


  .future {
    background-color: rgb(0, 160, 189);
    
  };